<html>
<body>
<form action="/wechat_login" method="get">
    <button type="submit">微信登录</button>
</form>
<form action="/alipay_login" method="get">
    <button type="submit">支付宝登录</button>
</form>
</body>
</html>